<div  class="container">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <a href="/book/add" class="btn btn-primary">Create book</a>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">title</th>
          <th scope="col">author</th>
          <th scope="col">isbn</th>
           <th scope="col">release date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          {{#each books}}
            <tr>
                <th> {{ title }} </th>
                <th> {{ author }} </th>
                <th> {{ isbn }} </th>
                <th> {{ releaseDate }} </th>
                <th>
                  <a href="/book/add/{{ _id }}"><i class="fa-solid fa-pen-to-square"></i></a> |
                  <form action="/book/delete/{{ _id }}" method="post" class="form-action">
                      <button class="btn btn-danger" type="submit"><i class="fa-solid fa-trash"></i></button>
                  </form>
                </th>
            </tr>
          {{/each}}
      </tbody>
    </table>
</div>


